@model Doctor
@using Microsoft.Extensions.Options

@inject IOptions<LaywApplication.Configuration.ChartHomepageInfo> ChartHomepageInfo
@{
	ViewBag.PageHeader = "Homepage";

	var viewDataDictionary = new ViewDataDictionary(this.ViewData) { { "doctorEmail", Model.Email } };
	var weightChartInfo = ChartHomepageInfo.Value.WeightChartInfo;
	var stepsChartInfo = ChartHomepageInfo.Value.StepsDailyChartInfo;
	var caloriesChartInfo = ChartHomepageInfo.Value.CaloriesOutChartInfo;

	var male = @Model.Patients.Count(x => x.Gender == Gender.MALE);
	var female = Model.Patients.Count - male;
}

<div class="container text-center">
	<div id="general-info" class="row">
		<div class="col-sm-12">
			<div class="card text-center">
				<div class="box">
					<div class="row">
						<div class="col-sm-2 col-sm-offset-2 info sub-info no-space">
							<h2>Male</h2>
							<i class="fas fa-mars fa-2x"></i>
							<p class="counter" data-count="@male">0</p>
						</div>
						<div class="col-sm-4 info no-space">
							<h2>Total Patients</h2>
							<i class="fas fa-users fa-4x"></i>
							<p class="counter" data-count="@Model.Patients.Count">0</p>
						</div>
						<div class="col-sm-2 info sub-info no-space">
							<h2>Female</h2>
							<i class="fas fa-venus fa-2x"></i>
							<p class="counter" data-count="@female">0</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="goal-statistics" class="row text-center">
		<div class="col-sm-4">
			@{
				await Html.RenderPartialAsync("Components/GoalChartStatistics/Default", stepsChartInfo, viewDataDictionary);
			}
		</div>
		<div class="col-sm-4">
			@{
				await Html.RenderPartialAsync("Components/GoalChartStatistics/Default", weightChartInfo, viewDataDictionary);
			}
		</div>
		<div class="col-sm-4">
			@{
				await Html.RenderPartialAsync("Components/GoalChartStatistics/Default", caloriesChartInfo, viewDataDictionary);
			}
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		counter("#general-info .counter");
	});
</script>

<style>
	.no-space {
		padding: 0;
		border: none;
	}
	@@media (min-width: 1200px) {
		.container {
			width: 1090px;
		}
	}
	.k-window .k-window-titlebar {
		background-color: #605ca8;
	}
	.window-goal .k-grid-content tr {
		background-color: #e6ffe6;
	}
	.window-goal > .achieved .k-grid-content .k-alt {
		background-color: #f4fff4;
	}
	.window-goal > .notachieved .k-grid-content tr {
		background-color: #ffe6e6;
	}
	.window-goal > .notachieved .k-grid-content .k-alt {
		background-color: #fff4f4;
	}
	.window-goal .k-link {
		font-weight: 700;
		text-align: center;
		margin-right: 0;
		padding-right: 0;
	}
	.window-goal .k-grid-filter {
		position: absolute;
		right: 0;
		top: 4px;
		margin-right: 0.5px;
	}
	.window-goal > .achieved .k-link {
		color: green;
	}
	.window-goal > .notachieved .k-link {
		color: red;
	}
	.button-open-window {
		border-color: #b3d9ff;
		border-radius: 15px;
		background-color: transparent;
		padding: 5px 20px;
		margin: 5px;
		box-shadow: 0 6px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.05);
	}
	#general-info {
		margin: 0 0 30px;
	}
	#general-info .card {
		padding: 0;
		border-radius: 30px;
		transition: 0.5s;
		color: rgba(8,26,40,1);
	}
	#general-info .card > .box {
		text-align: center;
		padding: 5px 25px 10px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border: none;
		margin: 20px 0;
		box-shadow: none;
		border-radius: 30px;
		background-color: inherit;
	}
	#general-info .card > .box .sub-info {
		margin-top: 30px;
	}
	#general-info .card > .box .info > h2 {
		margin-top: 15px;
		font-size: 25px;
		font-weight: 600;
		font-style: italic;
	}
	#general-info .card > .box .sub-info > h2 {
		font-size: 18px;
	}
	#general-info .card > .box .info > .fa-4x {
		color: #4ad1e5;
	}
	#general-info .card > .box .info > .fa-venus {
		color: #FF40A0;
	}
	#general-info .card > .box .info > .fa-mars {
		color: #0080FF;
	}
	#general-info .card > .box .info > p {
		font-style: italic;
		font-size: 40px;
		font-weight: 400;
		margin-top: 15px;
		margin-bottom: 0;
	}
	#general-info .card > .box .sub-info > p {
		font-size: 25px;
	}
</style>
