@model Doctor
@{
	ViewBag.PageHeader = "Homepage";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            @{
                await Html.RenderPartialAsync("DashboardDonutChart", Tuple.Create("Goal Steps Daily", "goalstepschartdashboard", "StepsDaily"));
            }
        </div>
        <div class="col-sm-4">
            @{
                await Html.RenderPartialAsync("DashboardDonutChart", Tuple.Create("Goal Weight", "goalweightschartdashboard", "Weight"));
            }
        </div>
        <div class="col-sm-4">
            @{
                await Html.RenderPartialAsync("DashboardDonutChart", Tuple.Create("Goal Calories Out", "goalcaloriesoutchartdashboard", "CaloriesOut"));
            }
        </div>
        <div class="col-sm-4">
            @{
                await Html.RenderPartialAsync("PatientHomepageDonutChart", Tuple.Create("Patients", "patientchartdashboard", "Patient"));
            }
        </div>
    </div>
</div>

<style>
	@@media (min-width: 1200px) {
		.container {
			width: 1090px;
		}
	}
</style>
