.vs/
LaywApplication/bin/
LaywApplication/obj/
LaywApplication/LaywApplication.csproj
LaywApplication/LaywApplication.csproj.user
LaywAuthentication/bin/
LaywAuthentication/obj/
LaywAuthentication/LaywAuthentication.csproj
LaywAuthentication/LaywAuthentication.csproj.user

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties