@model List<Activity>
@using System.Collections.Generic;
@using LaywApplication.Models;

<div class="k-content">
	@if (Model.Any())
	{
		<div id="tabstrip-activities">
			<ul>
				@{
					for (int i = 0; i < Model.Count; i++)
					{
						<li id="tab-item-activity-@i" class="mnu-activity" data-id="@i">@(i + 1) - @Model[i].ActivityName</li>
					}
				}
			</ul>
			@{
				for (int i = 0; i < Model.Count; i++)
				{
					<div class="tab-activity-content text-center">
						@{ await Html.RenderPartialAsync("Components/PatientActivities/Activity", Model[i],
													  new ViewDataDictionary(this.ViewData) { { "index", i } }); }
					</div>
							}
			}
		</div>
	}
	else
	{	
		<div class="row row-padding-top text-center" style="margin:20px 0 0">
			<h4 class="no-activity-yet">Today there aren't activities yet</h4>
		</div>
	}
</div>

<script>
	$(document).ready(createTabStrip("activities"));

	$("#tab-item-activities").click(function () {
		$("#tab-item-activity-0").trigger("click");
	})

	$(".mnu-activity").click(function () {
		counter("#counter-activity-" + $(this).attr('data-id') + " .counter-value");
	});
</script>