@model LaywApplication.Configuration.ChartInfo
@{
	string divId = Model.Title.Replace(" ", "_");
}

<div id="grid-current-goal-@divId"></div>

<script>
	$(document).ready(function () {
		$("#tab-item-goals").click(function () {
			this["urlGoal_@divId"] = "@Url.Content("~/dashboard/patients/" + ViewData["patientId"] + Model.ControllerGoal)";
			var dataSource = createGridGoalsDataSource(this["urlGoal_@divId"], 1);
			var columns = [];
			columns.push({ "field": "goal", "title": "Today @Model.Title" + " Goal" });
			columns.push({ "command": "edit", "title": "&nbsp;", "width": "50px" });

			createGrid("current-goal-@divId", false, "popup", dataSource, JSON.stringify(columns));
		});
	});
</script>