<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" href="~/bootstrap-social-gh-pages/bootstrap-social.css">
	<link rel="stylesheet" href="~/BootStrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/AdminLTE-2.4.3/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/AdminLTE-2.4.3/bower_components/font-awesome/css/font-awesome.min.css">

	<style>
		.card {
			padding: 30px;
			background-color: rgb(216, 227, 246);
			border-radius: 10px;
		}
		.card > h1 {
			margin-top: 0;
		}
		.card > h4 {
			margin-top: 15px;
			margin-bottom: 30px
		}
	</style>

	<title>@ViewBag.Title</title>

</head>

<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>