<!--@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
}

<ol class="breadcrumb">
    <li><a href="https://localhost:44333/@controller"><i class="fa fa-dashboard"></i>@controller</a></li>
    <li class="active">@action</li>
</ol>-->
    