<div class="box box-default text-center">
	<div class="box-header with-border">
		<h3 class="box-title">@ViewBag.Title</h3>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-minus"></i>
			</button>
		</div>
	</div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="chart" id="chart-@ViewBag.Type"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="demo-section k-content">
                    <h4>Achieved</h4>
                    <input id="achieved-@ViewBag.Type" style="width: 100%" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="demo-section k-content">
                    <h4>Not Achieved</h4>
                    <input id="notachieved-@ViewBag.Type" style="width: 100%" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	function createChart() {
		var baseUrl = "@Url.Content("~/dashboard/" + ViewBag.Path)";
        $("#chart-@ViewBag.Type").kendoChart({
            dataSource: {
                transport: {
                    read: {
                        url: baseUrl + "/summary",
                        type: "get",
						dataType: "json"
					}
                },
            },
            legend: {
                position: "top"
            },
            seriesDefaults: {
                type: "donut"
			},
            series: [{
				field: "amount",
				categoryField: "category",
				padding: 15
			}],
			tooltip: {
				visible: true,
				format: "N0",
				template: "#= category # - #= kendo.format('{0:P}', percentage)#"
            }, chartArea: {
                margin: 1,
                height: 300
            },
        });


        $("#notachieved-@ViewBag.Type").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: baseUrl + "/notachieved",
                        type: "get"
                    }
                }
            }
        });

        $("#achieved-@ViewBag.Type").kendoDropDownList({
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: baseUrl + "/achieved",
                        type: "get"
                    }
                }
            }
        });

        $(window).bind("resize", function () {
            $(".chart").data("kendoChart").refresh();
        });
    }

    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
</script>

