@model Patient
@{ 
	var day = ViewData["dayOfWeek"];
}

<div id="grid-diet-@day"></div>
<script>
	$("#tab-item-diet-@day").click(function () {
		var crudServiceBaseUrl = "@Url.Content("~/dashboard/patients/" + Model.Id + "/diet/" + day + "/")";
		var dataSource = createGridTrainingDietDataSource(crudServiceBaseUrl, 6);

		var columns = [];
		columns.push({ "field": "name", "title": "Meals", "width": "130px" });
		columns.push({ "field": "option1", "title": "Option 1" });
		columns.push({ "field": "option2", "title": "Option 2" });
		columns.push({ "field": "option3", "title": "Option 3" });
		columns.push({ "command": "edit", "title": "&nbsp;", "width": "20px" });

		createGrid("diet-@day", false, "popup", dataSource, JSON.stringify(columns))
	});
</script>

<style>
	#grid-diet-@day {
		margin-top: 40px;
	}
    #grid-diet-@day table {
        background-color: rgba(238,242,250,0.9);
    }
    #grid-diet-@day td {
        color: #404040;
    }
    #grid-diet-@day tbody .k-button {
        border-radius: 15px;
    }
    #grid-diet-@day .k-filter-row th, .k-grid-header th.k-header {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: transparent;
    }
    #grid-diet-@day table > thead > tr {
        background-color: #007acc !important;
    }
</style>