@using System.Reflection;

@{
    string version = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion;
    string company = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyCompanyAttribute>()?.Company;
}

<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @version
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="#">@company</a>.</strong> All rights reserved.
</footer>