
@{
    ViewData["Title"] = "PatientStatistics";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 no-space">
            @{
                await Html.RenderPartialAsync("LineChart", Tuple.Create("Weights", "Weight", "weightpatient", (Patient)ViewBag.CurrentPatient));
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 no-space">
            @{
                await Html.RenderPartialAsync("PatientBarChart", Tuple.Create("StepsDaily", "Goal Steps Daily", "stepspatient", (Patient)ViewBag.CurrentPatient));
            }
        </div>

        <div class="col-sm-6 no-space">
            @{
                await Html.RenderPartialAsync("PatientBarChart", Tuple.Create("CaloriesDaily", "Goal Calories Daily", "caloriesoutpatient", (Patient)ViewBag.CurrentPatient));
            }
        </div>
    </div>
</div>


<style>
    .no-space{
        padding:0;
        border:none;
    }
</style>
