
@{
    ViewData["Title"] = "PatientStatistics";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @{
                ViewBag.Type = "Weights";
                ViewBag.Title = "Weight";
                await Html.RenderPartialAsync("LineChart", (Patient)ViewBag.CurrentPatient);
            }
        </div>
    </div>

    <div class="row" style="padding-top:20px">
        <div class="col-sm-6">
            @{
                ViewBag.Type = "StepsDaily";
                ViewBag.Title = "Goal Steps Daily";
                ViewBag.Url = "stepspatient";
                await Html.RenderPartialAsync("PatientBarChart", (Patient)ViewBag.CurrentPatient);
            }
        </div>

        <div class="col-sm-6">
            @{
                ViewBag.Type = "CaloriesDaily";
                ViewBag.Title = "Goal Calories Daily";
                ViewBag.Url = "caloriesoutpatient";
                await Html.RenderPartialAsync("PatientBarChart", (Patient)ViewBag.CurrentPatient);
            }
        </div>
    </div>
</div>

