
@{
    ViewData["Title"] = "PatientStatistics";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 no-space">
            @{
                await Html.RenderPartialAsync("LineChart", Tuple.Create("Weights", "Weight", "weightpatient", "Weight", 40, (Patient)ViewBag.CurrentPatient));
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 no-space">
            @{
                await Html.RenderPartialAsync("LineChart", Tuple.Create("StepsDaily", "Goal Steps Daily", "stepspatient", "Steps", 1000, (Patient)ViewBag.CurrentPatient));
            }
        </div>

        <div class="col-sm-6 no-space">
            @{
				await Html.RenderPartialAsync("LineChart", Tuple.Create("CaloriesDaily", "Goal Calories Daily", "caloriesoutpatient", "Calories", 500, (Patient)ViewBag.CurrentPatient));
            }
        </div>
    </div>
</div>


<style>
    .no-space{
        padding:0;
        border:none;
    }
</style>
