@model Patient

<div class="demo-section k-content">
	<div id="tabstrip-diet">
		<ul>
			@foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
			{
				<li id="tab-item-diet-@day.ToString()">@day.ToString()</li>
			}
		</ul>
		@foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
		{
			<div>
				@{await Html.RenderPartialAsync("DayDiet", Model, new ViewDataDictionary(this.ViewData)
					{ { "dayOfWeek", day.ToString() } }); }
			</div>
		}
	</div>
</div>

<script>
	$(document).ready(function() {
		createTabStrip("diet");
		$("#tab-item-diet-Monday").trigger("click");
	});

	$("#tab-item-diet").click(function () {
		$("#tab-item-diet-Monday").trigger("click")
	})

</script>