
@{
    ViewData["Title"] = "PatientDiet";
}

<div id="example">
        <div id="grid"></div>
        <script>
                    $(document).ready(function () {
                        var crudServiceBaseUrl = "@Url.Content("~/dashboard/diet/")",
                            dataSource = new kendo.data.DataSource({
                                transport: {
                                    read:  {
                                        url: crudServiceBaseUrl,
                                        dataType: "json",
                                        type: "get"
                                    },
                                    update: {
                                        url: crudServiceBaseUrl + "update",
                                        type: "post",
                                        dataType: "json",
                                        contentType: "application/json"
                                    },
                                    destroy: {
                                        url: crudServiceBaseUrl + "destroy",
										type: "post",
										dataType: "json",
										contentType: "application/json"
                                    },
                                    create: {
                                        url: crudServiceBaseUrl + "create",
										type: "post",
										dataType: "json",
										contentType: "application/json"
                                    },
                                    parameterMap: function (model, operation) {
                                        if (operation !== "read" && model) {
                                            return kendo.stringify(model);
                                        }
                                    }
                                },
                                batch: false,
                                pageSize: 7,
                                schema: {
                                    model: {
                                        fields: {
                                            day: { type: "string", editable: false, nullable: false},
                                            breakfast: { type: "string" },
                                            morningSnack: { type: "string" },
                                            lunch: { type: "string" },
                                            afternoonSnack: { type: "string" },
                                            dinner: { type: "string" },
                                            eveningSnack: { type: "string" }
                                        }
                                    }
                                }
                            });

                        $("#grid").kendoGrid({
                            dataSource: dataSource,
                            pageable: true,
                            height: 400,
                            columns: [
                                { field:"day", title: "Day of week", width: "200px" },
                                { field: "breakfast", title:"Breakfast",  width: "120px" },
                                { field: "morningSnack", title: "Morning snack", width: "120px" },
                                { field: "lunch", title: "Lunch", width: "120px" },
                                { field: "afternoonSnack", title: "Afternoon snack", width: "120px" },
                                { field: "dinner", title: "Dinner", width: "120px" },
                                { field: "eveningSnack", title: "Evening snack", width: "120px" },
                                { command: ["edit"], title: "&nbsp;", width: "120px" }],
							editable: "popup"
							//,
       //                     saveChanges: function (e) {
       //                         // Refresh della grid per avere gli ID.
       //                         e.sender.one("dataBound", function () {
       //                             e.sender.dataSource.read();
       //                         });
       //                     }
                        });
            });
        </script>
</div>