@model Patient
@{
    ViewData["Title"] = "PatientTraining";
}

<div id="grid-training"></div>
<script>
    $("#tab-item-training").click(function () {
		var crudServiceBaseUrl = "@Url.Content("~/dashboard/patients/" + Model.Id + "/training/")";
		var dataSource = createGridTrainingDietDataSource(crudServiceBaseUrl, 7);

		var columns = [];
		columns.push({ "field": "name", "title": "Training", "width": "60px" });
		columns.push({ "field": "option1", "title": "Exercise 1" });
		columns.push({ "field": "option2", "title": "Exercise 2" });
		columns.push({ "field": "option3", "title": "Exercise 3" });
		columns.push({ "command": "edit", "title": "&nbsp;", "width": "20px" });

		createGrid("training", false, "popup", dataSource, JSON.stringify(columns))
    });

</script>

<style>
	#grid-training {
		margin-top: 40px;
	}
    #grid-training table {
        background-color: rgba(238,242,250,0.9);
    }
    #grid-training td {
        color: #404040;
    }
    #grid-training tbody .k-button {
        border-radius: 15px;
    }
    #grid-training .k-filter-row th, 
    #grid-training .k-grid-header th.k-header {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: transparent;
    }
    #grid-training table > thead > tr {
        background-color: #007acc;
    }
</style>
