@{
    ViewData["Title"] = "PatientDiet";
    var divId = "diet";
}

<div id="example">
    <div class="demo-section k-content">
        <div id="tabstrip-@divId">
            <ul>
                <li class="k-state-active">Monday</li>
                <li>Tuesday</li>
                <li>Wednesday</li>
                <li>Thursday</li>
                <li>Friday</li>
                <li>Saturday</li>
                <li>Sunday</li>
            </ul>
            <div>
                @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("monday")); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("tuesday")); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("wednesday")); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("thursday")); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("friday")); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("saturday")); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("sunday")); }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(createTabStrip("@divId"));
</script>