
@{
    ViewData["Title"] = "PatientStatistics";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @{
                await Html.RenderPartialAsync("LineChart", Tuple.Create("Weights", "Weight", "weightpatient", (Patient)ViewBag.CurrentPatient));
            }
        </div>
    </div>

    <div class="row" style="padding-top:20px">
        <div class="col-sm-5">
            @{
                await Html.RenderPartialAsync("PatientBarChart", Tuple.Create("StepsDaily", "Goal Steps Daily", "stepspatient", (Patient)ViewBag.CurrentPatient));
            }
        </div>

        <div class="col-sm-5">
            @{
                await Html.RenderPartialAsync("PatientBarChart", Tuple.Create("CaloriesDaily", "Goal Calories Daily", "caloriesoutpatient", (Patient)ViewBag.CurrentPatient));
            }
        </div>
    </div>
</div>

