@model Patient
@{
    ViewData["Title"] = "PatientDiet";
    var divId = "diet";
}

<div class="demo-section k-content">
    <div id="tabstrip-@divId">
        <ul>
            <li class="k-state-active">Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            <li>Sunday</li>
        </ul>
        <div>
            @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("Monday", Model)); }
        </div>
        <div>
            @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("Tuesday", Model)); }
        </div>
        <div>
            @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("Wednesday", Model)); }
        </div>
        <div>
            @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("Thursday", Model)); }
        </div>
        <div>
            @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("Friday", Model)); }
        </div>
        <div>
            @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("Saturday", Model)); }
        </div>
        <div>
            @{await Html.RenderPartialAsync("DayDiet", Tuple.Create("Sunday", Model)); }
        </div>
    </div>
</div>

<script>
    $(document).ready(createTabStrip("@divId"));
</script>