@model Doctor
@using Microsoft.Extensions.Options
@inject IOptions<LaywApplication.Configuration.ServerIP> ServerIP

<ul class="sidebar-menu" data-widget="tree">
    <li id="homepage" class="menu-homepage"><a href="~/dashboard/homepage"><i class="fa fa-home" style="color:orange"></i> <span>Homepage</span></a></li> <!--TODO schiaffato url, mettere in config-->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-heartbeat" style="color:red"></i> <span>Patients</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @{
                foreach (Patient p in Model.Patients.OrderBy(x => x.Name))
                {
                    <li id="patient-@p.Name.Replace(" ", "_")">
                        <a href="~/dashboard/patients/@p.Id">
                            @{
                                if (p.Gender == Gender.MALE)
                                { <i class="fa fa-mars" style="color:#0080FF"></i> }
                                else
                                { <i class="fa fa-venus" style="color:#FF40A0"></i> }
                            }
                            @p.Name
                        </a>
                    </li>
                }
            }
        </ul>
    </li>
</ul>

<script>
    $('.sidebar-menu > li').click(function (e) {
        $('.sidebar-menu > li').each(function () {
            $(this).removeClass('active');
        });
        //$(this).addClass('active');
        sessionStorage.setItem('sidebarmenu-active', $(this).attr("id"));
    });

    $('.sidebar-menu > #homepage').click(function (e) {
        sessionStorage.setItem('treeviewmenu-active', null);
    });

    if (sessionStorage.getItem('sidebarmenu-active'))
        $('.sidebar-menu > #' + sessionStorage.getItem('sidebarmenu-active')).addClass('active');
    else
        $('.sidebar-menu > #homepage').addClass('active');

    $('.treeview-menu > li').click(function (e) {
        $('.treeview-menu > li').each(function () {
            $(this).removeClass('active');
        });
        $(this).addClass('active');
        sessionStorage.setItem('treeviewmenu-active', $(this).attr("id"));
    });
    if (sessionStorage.getItem('treeviewmenu-active'))
        $('.treeview-menu > #' + sessionStorage.getItem('treeviewmenu-active')).addClass('active');
</script>

<style>
    .treeview-menu > li:hover > a {
        background: #1e282c;
    }
    .treeview-menu {
        padding-left: 0px;
    }
    .sidebar-menu > li.menu-open > a {
        border-left-color: #605ca8;
    }
</style>