@model Doctor


<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview active">
        <a href="#">
            <i class="fa fa-heartbeat" style="color:red"></i> <span>Patients</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
        @{
            foreach (Patient p in Model.Patients.OrderBy(x => x.Name))
            {
                <li>
                    <a href="~/dashboard/patients/@p.Id">
                        @{
                            if (p.Gender == Gender.MALE) { <i class="fa fa-mars" style="color:#0080FF"></i> }
                            else { <i class="fa fa-venus" style="color:#FF40A0"></i> }
                        }
                        @p.Name
                    </a>
                </li>
            }
        }
        </ul>
    </li>
</ul>