@model string
@using Microsoft.AspNetCore.Authentication

<div>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>
        <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
    }

    else
    {
        <h1>Welcome. Sign in Look After Your Weight</h1>
        <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
    }
</div>

@*
    @model List<Patient>
    @{
        ViewBag.Title = "Layw";
        ViewBag.PageHeader = "Index";
    }
*@

<!--
<div id="grid"></div>

<script>

    $(document).ready(function () {
        var data = @(Json.Serialize(Model));

        $("#grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            name: { type: "string" },
                            country: { type: "string" },
                            dateOfBirth: { type: "string" },
                            gender: { type: "string" },
                            height: { type: "number" }
                        }
                    }
                }
            },
            scrollable: true,
            sortable: true,
            filterable: true,
            editable: false,
            columns: [
                { field: "name", title: "Name" },
                { field: "dateOfBirth", title: "Date of birth" },
                { field: "country", title: "Country" },
                { field: "gender", title: "Gender" },
                { field: "height", title: "Height" }
            ]
        });
    })

</script>-->
