@model Doctor
@{
    ViewBag.PageHeader = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            @{ 
                ViewBag.Type = "StepsDaily";
                ViewBag.Title = "Goal Steps Daily";
                await Html.RenderPartialAsync("DashboardDonutChart");
            }
        </div>
        <div class="col-sm-4">
            @{ 
                ViewBag.Type = "StepsCallo";
                ViewBag.Title = "Goal Steps Callo";
                await Html.RenderPartialAsync("DashboardDonutChart");
            }
        </div>
        <div class="col-sm-4">
            @{ 
                ViewBag.Type = "StepsFai";
                ViewBag.Title = "Goal Steps Fai";
                await Html.RenderPartialAsync("DashboardDonutChart");
            }
        </div>
    </div>
</div>
