@model Doctor
@{
	ViewBag.PageHeader = "Index";
}

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			@{
				await Html.RenderPartialAsync("DashboardDonutChart", Tuple.Create("Goal Steps Daily", "goalstepschartdashboard", "StepsDaily")); 
			}
		</div>
		<div class="col-sm-4">
			@{
				await Html.RenderPartialAsync("DashboardDonutChart", Tuple.Create("Goal Weight", "goalweightschartdashboard", "Weight"));
			}
		</div>
		<div class="col-sm-4">
			@{
				await Html.RenderPartialAsync("DashboardDonutChart", Tuple.Create("Goal Calories Out", "goalcaloriesoutchartdashboard", "CaloriesOut"));
			}
		</div>
	</div>
</div>

