@model Doctor
@{
    ViewBag.PageHeader = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            @{ 
                ViewBag.Path = "goalstepschartdashboard";
                ViewBag.Type = "StepsDaily";
                ViewBag.Title = "Goal Steps Daily";
                await Html.RenderPartialAsync("DashboardDonutChart");
            }
        </div>
        <div class="col-sm-4">
            @{ 
                ViewBag.Path = "goalweightschartdashboard";
                ViewBag.Type = "Weight";
                ViewBag.Title = "Goal Weight";
                await Html.RenderPartialAsync("DashboardDonutChart");
            }
        </div>
        <div class="col-sm-4">
            @{ 
                ViewBag.Path = "goalcaloriesoutchartdashboard";
                ViewBag.Type = "CaloriesOut";
                ViewBag.Title = "Goal Calories Out";
                await Html.RenderPartialAsync("DashboardDonutChart");
            }
        </div>
    </div>
</div>
