@model Doctor
@{
	ViewBag.PageHeader = ((Patient)ViewBag.CurrentPatient).Name;
	int currentPatientId = ((Patient)ViewBag.CurrentPatient).Id;
}

<div id="patient" class="container">
    <div class="k-content">
        <div id="tabstrip-main">
            <ul>
                <li id="tab-item-diet" class="k-state-active"> Diet </li>
                <li id="tab-item-training"> Training </li>
                <li id="tab-item-goals"> Goals </li>
                <li id="tab-item-activities"> Activities </li>
                <li id="tab-item-personal-data"> Personal data </li>
            </ul>
            <div class="content-grid">
                @{ await Html.RenderPartialAsync("Components/PatientDiet/Default", currentPatientId); }
            </div>
            <div class="content-grid">
                @{ await Html.RenderPartialAsync("Components/PatientTraining/Default", currentPatientId); }
            </div>
            <div class="content-grid">
                @{ await Html.RenderPartialAsync("Components/PatientGoals/Default", currentPatientId); }
            </div>
            <div>
				@await Component.InvokeAsync("PatientActivities", new { currentPatient = ViewBag.CurrentPatient })
			</div>
            <div>
                @await Component.InvokeAsync("PatientPersonalData", new { currentPatient = ViewBag.CurrentPatient })
            </div>
        </div>
    </div>
</div>

<style>
	.no-space {
		padding: 0;
		border: none;
	}
	.row-padding-top {
		padding-top: 20px;
	}
	@@media (min-width: 1200px) {
		.container {
			width: 1090px;
		}
	}
	@@media (min-width: 1200px) {
		.container-inner {
			width: 1000px !important;
		}
	}
	#patient .k-content {
		background-color: transparent;
	}
	#patient .k-tabstrip {
		background-color: transparent;
		border: none;
	}
	#patient .k-tabstrip:focus {
		box-shadow: none;
	}
	#patient .k-tabstrip > .k-state-active,
	#patient .k-tabstrip > .k-state-active:hover,
	#patient .k-tabstrip > .k-content {
		background-color: transparent;
		border: none;
	}
	#patient .k-tabstrip > .k-tabstrip-items {
		border: none;
		text-align: center;
		position: relative;
		height: 19px;
	}
	#patient .k-tabstrip .k-item {
		border-radius: 16px;
		background-color: transparent;
		border-width: 1px;
		border-top: none;
		border-bottom: none;
		border-color: rgba(8,26,40,1);
		color: black;
	}
	#patient .k-tabstrip .k-item:hover {
		border-width: 1px;
		border-top-style: solid;
		border-bottom-style: solid;
	}
	#patient .k-header .k-item > .k-link {
		color: rgba(8,26,40,1);
		font-weight: 700;
	}
	#patient .k-tabstrip > .k-tabstrip-items > .k-state-active {
		background-color: rgba(8,26,40,1);
	}
	#patient .k-tabstrip > .k-tabstrip-items > .k-state-active:hover {
		border-top-style: none;
		border-bottom-style: none;
	}
	#patient .k-tabstrip > .k-tabstrip-items > .k-state-active > .k-link {
		color: white;
	}
	#patient .k-tabstrip > .k-tabstrip-items .k-item > .k-complete {
		border: none;
	}
	#patient #tabstrip-main > .content-grid .k-grid {
		margin-top: 40px;
		color: rgba(8,26,40,1);
	}
	.k-window > .k-window-titlebar,
	#patient #tabstrip-main > .content-grid .k-grid thead > tr {
		background-color: #605ca8;
	}
	#patient #tabstrip-main > .content-grid .k-grid thead .k-header {
		text-align: center;
		color: white;
		font-weight: 700;
		background-color: transparent;
	}
	#patient #tabstrip-main > .content-grid .k-grid tbody > .k-alt {
		background-color: rgba(238,242,250,0.9);
	}
	#patient #tabstrip-main > .content-grid .k-grid tbody > tr > td:first-child {
		font-weight: 700;
	}
	#patient #tabstrip-main > .content-grid .k-grid tbody > tr .k-button {
		border-radius: 15px;
	}
</style>

<script>
	$(document).ready(createTabStrip("main"));
</script>

