@model Doctor
@{
    ViewBag.PageHeader = "Patient: " + ((Patient)ViewBag.CurrentPatient).Name;
    var divId = "main";
}

<div id="example">
    <div class="demo-section k-content">
        <div id="tabstrip-@divId">
            <ul>
                <li class="k-state-active">
                    Diet
                </li>
                <li>
                    Statistics
                </li>
                <li>
                    Training
                </li>
            </ul>
            <div>
                @{await Html.RenderPartialAsync("PatientDiet"); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("PatientStatistics", ((Patient)ViewBag.CurrentPatient).Id); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("PatientTraining"); }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(createTabStrip("@divId"));
</script>


