@model Doctor
@{
    ViewBag.PageHeader = ((Patient)ViewBag.CurrentPatient).Name;
    var divId = "main";
}

<div id="patient" class="container">
    <div class="demo-section k-content">
        <div id="tabstrip-@divId">
            <ul>
                <li class="k-state-active"> Diet </li>
                <li> Training </li>
                <li> Goals </li>
                <li> Activities </li>
                <li id="personal-data-id"> Personal data </li>
            </ul>
            <div>
                @{await Html.RenderPartialAsync("PatientDiet", ((Patient)ViewBag.CurrentPatient)); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("PatientTraining", ((Patient)ViewBag.CurrentPatient)); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("PatientStatistics", ((Patient)ViewBag.CurrentPatient)); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("Activities", ((Patient)ViewBag.CurrentPatient)); }
            </div>
            <div>
                @{await Html.RenderPartialAsync("PatientPersonalData", ((Patient)ViewBag.CurrentPatient)); }
            </div>
        </div>
    </div>
</div>




<style>
	#patient .k-content {
		background-color: transparent;
	}
	#patient .k-content .k-tabstrip {
		background-color: transparent;
		border: none;
	}
	#patient .k-content .k-tabstrip:focus {
		box-shadow: none;
	}
	#patient .k-content .k-tabstrip > .k-state-active,
	#patient .k-content .k-tabstrip > .k-state-active:hover,
	#patient .k-content .k-tabstrip > .k-content {
		background-color: transparent;
		border: none;
	}
	#patient .k-content .k-tabstrip > .k-tabstrip-items {
		border: none;
		text-align: center;
        position: relative;
        height: 19px;
	}
	#patient .k-content .k-tabstrip .k-item {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		background-color: transparent;
		border-width: 1px;
		border-bottom: none;
		border-color: cornflowerblue;
		color: black;
	}
	#patient .k-content .k-tabstrip > .k-tabstrip-items .k-item > .k-complete {
		border: none;
	}
	#patient .k-content .k-header .k-item > .k-link {
		color: black;
	}
	@@media (min-width: 1200px) {
		.container {
			width: 1090px;
		}
	}
</style>

<script>
    $(document).ready(createTabStrip("@divId"));
</script>

<script>
    var a = 0;

    $("#personal-data-id").click(animatePersonalCounter);

    function animatePersonalCounter() {
        $("#counter-personal-data-@(((Patient)ViewBag.CurrentPatient).Name) .personal-data").each(function () {
            var $this = $(this), countTo = $this.attr('data-count');
            $({
                countNum: $this.text()
            }).animate({
                countNum: countTo
            }, {
                    duration: 2500,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function () {
                        $this.text(this.countNum);
                    }
                });
        });
        a = 1;
    }
</script>

