<div class="row" style="text-align:right; width:100%">
    <div class="col-sm-12">
        <a id="btn-manage-patients" class="k-button">Manage patients</a>
        <a id="btn-change-password" class="k-button">Change password</a>
        <a href="/signout?returnUrl=%2F" class="k-button">Sign out</a>
    </div>
</div>