<div class="row" style="width:100%">
    <div class="col-sm-6 col-sm-offset-3">
        <div id="div-add-admins" class="panel text-center" style="display:none;">
            <h4>LAYW administrators:</h4>
            <div id="admins-box"> </div>
            <form id="form-add-admins" action="/AdminAuthentication/create">
                <div class="form-group">
                    <label>Add an administrator</label>
                    <input type="text" class="form-control" name="mailNewAdmin" placeholder="Email" required />
                    <button type="submit" id="btn-change-pass" class="k-button" style="margin-top:20px;">Add</button>
                    <h4 id="add-response"></h4>
                </div>
            </form>
        </div>
    </div>
</div>